#user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(blue, purple);
    color: rgb(245, 79, 245);
    max-width: 20rem;
}